root = true

[*]
indent_style = space
trim_trailing_whitespace = true

dotnet_style_require_accessibility_modifiers = never:suggestion

csharp_new_line_before_members_in_object_initializers = false
csharp_prefer_braces = false
csharp_space_after_cast = true
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:none
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_prefer_range_operator = false

resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_before_block_statements = 1
resharper_blank_lines_before_control_transfer_statements = 1
resharper_blank_lines_before_multiline_statements = 1
resharper_braces_for_using = required_for_multiline
resharper_csharp_align_multiline_parameter = true
resharper_csharp_insert_final_newline = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_indent_method_decl_pars = outside
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_while_stmt = true
resharper_place_attribute_on_same_line = false
resharper_place_simple_case_statement_on_same_line = if_owner_is_single_line
resharper_place_simple_embedded_statement_on_same_line = false
resharper_space_within_single_line_array_initializer_braces = true
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_before_first_type_parameter_constraint = true

dotnet_analyzer_diagnostic.severity = error
dotnet_analyzer_diagnostic.category-Style.severity = default
dotnet_analyzer_diagnostic.category-Design.severity = default
dotnet_analyzer_diagnostic.category-Naming.severity = default
dotnet_diagnostic.CS0612.severity = warning # '...' is obsolete
dotnet_diagnostic.CS1591.severity = none # Missing XML comment for publicly visible type or member '...'
dotnet_diagnostic.CS0162.severity = warning # Unreachable code detected
dotnet_diagnostic.CA2201.severity = none # Do not raise reserved exception types
dotnet_diagnostic.CA1041.severity = none # Provide ObsoleteAttribute message

[*Tests.cs]
dotnet_diagnostic.CA1822.severity = none # Member '...' does not access instance data and can be marked as static

[*.{cs,razor}]
indent_size = 4
insert_final_newline = true
charset = utf-8

[*.{csproj,props,targets,config,nuspec,xml}]
indent_size = 2

[*.json]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.sh]
end_of_line = lf

[*.{cmd,bat}]
end_of_line = crlf

[*.{htm,html,js,ts,css,scss,less,cshtml}]
indent_size = 2
insert_final_newline = true
